#cart {
    margin: auto;
    width: 700px;
}

.item {
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.item img {
    width: 150px;
}

.item p {
    align-items: center;
    width: 100px;
    display: inline-block;
}

.item input {
    width: 50px;
}